{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription sur le site</h1>


        <div class="col-md-3">{{ form_start(form) }}</div>

        <div class="col-md-3">{{ form_row(form.username, {'label': 'Nom d\'utilisateur','attr': {'placeholder': 'pseudo'}}) }}</div>
        <div class="col-md-3">{{ form_row(form.email,{'label':'Adresse mail', 'attr': {'placeholder': 'email'}}) }}</div>
        <div class="col-md-3">{{ form_row(form.password,{'label':'Mot de passe', 'attr': {'placeholder': 'mot de passe'}}) }}</div>
        <div class="col-md-3">{{ form_row(form.confirm_password,{'label':'Confirmez votre mot de passe', 'attr': {'placeholder': 'confirmation'}}) }}</div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-success">Inscription</button>
        </div>


        <div class="col-md-3">{{ form_end(form) }}</div>



{% endblock %}
