<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% block stylesheets %}{% endblock %}
</head>
<body class="body-accueil">
<nav class="navbarOccars navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}"><img class="logo-occars" src="{{ asset('image/logo.png') }}" alt="logo"></a>
    <div class="link" style="width: 100%;display: flex;flex-direction: row-reverse;margin-right:120px">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="width: 100%">
            <div class="navbar-nav" style="width: 100%;display: flex;flex-direction: row-reverse">
                {% if app.user %}
                    <li class="nav-item" style="display: flex">
                        <a class="nav-item nav-link mx-4 {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}" style="width: 80px" href="{{ path('article.index') }}">Acheter</a>
                        <a href="{{ path('security_logout') }}" class="nav-link" style="width: 150px">Se deconnecter</a>
                    </li>
            </div>
                {% else %}
            <div class="navbar-nav" style="width: 100%;display: flex;flex-direction: row-reverse">
                    <li class="nav-item" style="display: flex">
                        <a href="{{ path('security_login') }}" class="nav-link mx-4" style="width: 80px">Connexion</a>
                        <a class="nav-item nav-link" style="width: 150px" href="{{ path('security_registration') }}">Inscription</a>
                    </li>
             </div>
                {% endif %}
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
