<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('article.show', {slug: article.slug, id: article.id}) }}">
                {{ article.piece }}
            </a>
            <p class="card-text">
                {{ article.marque }} {{ article.modele }}
            </p>
        </h5>
            <div class="text-primary"style="font-size: 2rem; font-weight: bold">
                {{ article.prix }} €
            </div>
    </div>
</div>